{% extends "core/templates/base.jinja" %}
{% block role %}concise, friendly assistant{% endblock %}
{% block extra %}{% if conversation_id is defined and conversation_id %}Conversation id: {{ conversation_id }}.{% endif %}{% endblock %}
